
#panel {
    background: url(../img/home-bg.png) center center / cover no-repeat rgb(102, 102, 102);
}


.center-circle-part {
    position: absolute;
    top: 5rem;
    left: 8rem;
}


.panel-main__content {
    font-size: 1.5rem;
}


.panel-cover__description {
    font-size: 2.5rem;
}





/*手机*/
@media (max-width: 760px) {
    .center-circle-part {
        position: absolute;
        top: 5rem;
        left: 40%;
    }

    .panel-cover__description {
        font-size:1.5rem;
    }

    .panel-main__content {
        font-size: 1rem;
    }

}